<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Add Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<header>
    <div class="d-flex justify-content-center">
        <h1>Project Add Form</h1>
    </div>
</header>
<main>
    <form th:action="@{/projects/createProject}" th:method="post" th:object="${project}">
        <div class="m-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" th:field="*{projectName}" id="name" required class="form-control">
        </div>
        <div class="m-3">
            <label for="description" class="form-label">Description</label>
            <textarea th:field="*{projectDescription}" id="description" class="form-control"></textarea>
        </div>
        <div class="m-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="datetime-local" th:field="*{projectStartDate}" id="startDate" class="form-control">
        </div>
        <div class="m-3">
            <label for="dueDate" class="form-label">Due Date</label>
            <input type="datetime-local" th:field="*{projectEndDate}" id="dueDate" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary m-3">Submit</button>
        <a href="/projects/display" class="btn btn-secondary m-3">Cancel</a>
    </form>
</main>
<footer class="mt-auto text-center">
    <p>
        BoefCity@EMC.com
    </p>
</footer>
</body>
</html>
