<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Projekt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/bodyHeaderFooter.css">
</head>
<body class="d-flex flex-column min-vh-100">

<header class="d-flex justify-content-between align-items-center text-white py-3 px-3">
    <h1 class="mb-0">Tilføj Projekt</h1>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Forside</a>
            </li>
            <li class="nav-item">
                <form id="logout-form" th:action="@{/logout}" method="post" class="d-inline">
                    <button type="submit" class="btn btn-danger ms-3">Log ud</button>
                </form>
            </li>
        </ul>
    </nav>
</header>

<main class="container flex-grow-1 my-3">
    <form th:action="@{/projects/create}" th:method="post" th:object="${project}">
        <fieldset class="mb-3">
            <label for="name" class="form-label text-white">Projekt navn</label>
            <input type="text" th:field="*{projectName}" id="name" required class="form-control">
        </fieldset>
        <fieldset class="mb-3">
            <label for="description" class="form-label text-white">Beskrivelse</label>
            <textarea th:field="*{projectDescription}" id="description" class="form-control"></textarea>
        </fieldset>
        <fieldset class="mb-3">
            <label for="budget" class="form-label text-white">Budget</label>
            <input type="number" step="0.01" th:field="*{projectBudget}" id="budget" class="form-control">
        </fieldset>
        <fieldset class="mb-3">
            <label for="cost" class="form-label text-white">Pris</label>
            <input type="number" step="0.01" th:field="*{projectCost}" id="cost" class="form-control" placeholder="Opdateres baseret på subprojekters samlede pris" readonly>
        </fieldset>
        <fieldset class="mb-3">
            <label for="estimatedHours" class="form-label text-white">Estimeret tid</label>
            <input type="number" step="0.5" th:field="*{projectEstimatedHours}" id="estimatedHours" class="form-control">
        </fieldset>
        <fieldset class="mb-3">
            <label for="actualHours" class="form-label text-white">Reel tid</label>
            <input type="number" step="0.5" th:field="*{projectActualdHours}" id="actualHours" class="form-control" placeholder="Opdateres baseret på subprojekters samlede tid" readonly>
        </fieldset>
        <fieldset class="row mb-3">
            <fieldset class="col-md-6">
                <label for="startDate" class="form-label text-white">Start dato</label>
                <input type="datetime-local" th:field="*{projectStartDate}" id="startDate" class="form-control">
            </fieldset>
            <fieldset class="col-md-6">
                <label for="dueDate" class="form-label text-white">Slut dato</label>
                <input type="datetime-local" th:field="*{projectEndDate}" id="dueDate" class="form-control">
            </fieldset>
        </fieldset>
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
        <a href="/projects/display" class="btn btn-secondary mb-3 ms-3">Cancel</a>
    </form>
</main>

<footer class="text-center text-white mt-auto">
    <section>
        <p>&copy; 2024 Projektstyringsværktøj.<br> BoefCity@EMC.com</p>
    </section>
</footer>

</body>
</html>
