<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Sub Project Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">
<main>
    <header class="m-3 text-center">
        <h1>Edit Subproject</h1>
    </header>
    <form th:action="@{/subprojects/editForm/{subprojectId}(subprojectId=${subprojectId}, projectId=${projectId})}" th:method="post" th:object="${subproject}">
        <div class="m-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" th:field="*{subprojectName}" class="form-control" id="title">
        </div>
        <div class="m-3">
            <label for="description" class="form-label">Description</label>
            <textarea th:field="*{subprojectDescription}" class="form-control" id="description"></textarea>
        </div>
        <div class="m-3">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" th:field="*{subprojectStartDate}" class="form-control" id="startDate">
        </div>
        <div class="m-3">
            <label for="dueDate" class="form-label">Due Date</label>
            <input type="date" th:field="*{subprojectDueDate}" class="form-control" id="dueDate">
        </div>
        <div class="m-3">
            <label for="priority" class="form-label">Priority</label>
            <select th:field="*{priorityLevel}" id="priority" class="form-select">
                <th:block th:each="priority : ${priorityLevel}">
                    <option th:value="${priority}" th:text="${priority}"></option>
                </th:block>
            </select>
        </div>
        <div class="m-3">
            <label for="status" class="form-label">Status</label>
            <select th:field="*{status}" id="status" class="form-select">
                <th:block th:each="status : ${status}">
                    <option th:value="${status}" th:text="${status}"></option>
                </th:block>
            </select>
        </div>
        <div class="m-3">
            <label for="subprojectCost" class="form-label">Cost</label>
            <input type="number" step="0.01" th:field="*{subprojectCost}" class="form-control" id="subprojectCost">
        </div>
        <div class="m-3">
            <label for="subprojectHours" class="form-label">Hours</label>
            <input type="number" step="0.5" th:field="*{subprojectHours}" class="form-control" id="subprojectHours">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/projects/overviewDisplay" th:href="@{/projects/overviewDisplay(projectId=${projectId})}" class="btn btn-secondary m-3">Cancel</a>
    </form>
</main>
<footer class="mt-auto text-center">
    <p>BoefCity@EMC.com</p>
</footer>
</body>
</html>
