<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <header>
    <h1>Velkommen til dit Projektstyringsværktøj</h1>
  </header>

  <main>
    <a href="/users/loginDisplay"><button type="button" class="btn btn-success m-3 btn-overlay">Log ind</button></a>
    <a href="/users/registerDisplay"><button type="button" class="btn btn-primary m-3 btn-overlay">Ny bruger</button></a>
  </main>

</body>
</html>